<div class="page-header clearfix">
  <div class="title-bar">
    <h2 class="title" t-if="id">编辑房券</h2>
    <h2 class="title" t-if="!id">新增房券</h2>
  </div>
</div>
<div class="page-body spu-create">
  <div class="draft-tip" t-if="hasDraft">
    <p class="bd">系统检测到你有一份编辑中的草稿，是否需要覆盖当前内容？</p>
    <div>
      <a href="#" class="btn btn-green btn-large mr10" mx-click="loaddraft()">覆盖</a>
      <a href="#" class="btn btn-normal btn-large" mx-click="canceldraft()">不用</a>
    </div>
  </div>
  <form id="spu-create-form">
    <input type="hidden" name="category"" value="4">
    <ul class="union-form">
      <li class="field">
        <p class="field-label2">标题</p>
        <input type="text" class="input" name="title" value="{{title}}">
      </li>
      <li class="field">
        <p class="field-label2">套餐</p>
        <div class="spac-add">
          <input placeholder="请输入自定义套餐标题" class="input mr10" id="J_spec_value">
          <a href="#" class="btn btn-brand btn-large" mx-click="addSpuSpec()">+添加</a>
        </div>
        <div class="spac-container clearfix" t-if="spuSpec.length>0">
          {{#for(item in spuSpec)}}
          <div class="spac-item">{{item}}<span class="iconfont iconguanbi close" mx-click="delSpuSpec({index:{{__INDEX__}}})"></span></div>
          {{/for}}
        </div>
      </li>
      <li class="field table-container" t-if="spuSpec.length>0">
        <p class="field-label2">销售规则</p>
        <table class="table">
          <thead>
            <tr>
              <th class="left" width="150">套餐</th>
              <th class="left" width="150">价格</th>
              <th class="left" width="150">数量</th>
            </tr>
          </thead>
          <tbody>
            {{#for(item in skuSpec)}}
            <tr>
              <td class="left">{{item.specValue}}</td>
              <td class="left">
                <input placeholder="套餐价格" type="number" class="input input-narrow" value="{{item.price}}" mx-change="bindSkuSpecChange({index:{{__INDEX__}},field:'price'})">
              </td>
              <td class="left">
                <input placeholder="数量" type="number" class="input input-narrow" value="{{item.stock}}" mx-change="bindSkuSpecChange({index:{{__INDEX__}},field:'stock'})">
              </td>
            </tr>
            {{/for}}
          </tbody>
        </table>
      </li>
      <li class="field">
        <p class="field-label2">封面图</p>
        <div class="cover clearfix">
          {{^if(cover)}}
          <div class="img-placeholder" mx-click="pickCover()">
            <span class="iconfont iconhao"></span>
            <div>添加封面</div>
          </div>
          {{/if}}
          {{#if(cover)}}
          <div class="img-container">
            <div class="mask" mx-click="pickCover()">重新选择图片</div>
            <img src="{{cover}}" class="img">
            <input type="hidden" name="cover" value="{{cover}}">
          </div>
          {{/if}}
        </div>
      </li>
      <li class="field">
        <p class="field-label2">轮播图</p>
        <div class="slide clearfix">
          {{#if(slide.length > 0)}}
            {{#for(item in slide)}}
            <div class="img-container">
              <div class="mask" mx-click="pickSlide({index:{{__INDEX__}}})">重新选择图片</div>
              <img src="{{item}}" class="img">
              <input type="hidden" name="slide[{{__INDEX__}}]" value="{{item}}">
            </div>
            {{/for}}
          {{/if}}
          {{^if(slide.length >= 2)}}
          <div class="img-placeholder" mx-click="pickSlide()">
            <span class="iconfont iconhao"></span>
            <div>添加轮播图</div>
          </div>
          {{/if}}
        </div>
      </li>
      <li class="field">
        <p class="field-label2">产品说明</p>
        <div id="description-editor"></div>
      </li>
      <li class="field">
        <p class="field-label2">使用规则</p>
        <div id="usage-editor"></div>
      </li>
      <li class="field">
        <a href="#" class="btn btn-brand btn-large mr10" mx-click="submit()">发布</a>
        <!-- <a href="#" class="btn btn-brand btn-large" mx-click="draft()">保存成草稿</a> -->
      </li>
    </ul>
  </form>
</div>