body {
  background-color: #f6f6f6;
}

.sidenav {
  background-color: #2d2d3b;
  position: fixed;
  top: 0;
  height: 100%;
  width: 225px;

  .title {
    height: 75px;
    line-height: 75px;
    font-size: 24px;
    font-weight: bold;
    padding-left: 30px;
    background-color: #6a6ae4;
    
    a {
      color: #fff;
    }
    .circuitfont {
      font-size: 24px;
    }
  }
  .nav {
    padding: 20px 0;

    a {
      padding: 6px 30px;
      color: #ccc;
      display: block;
      outline: none;
    }
    .active a {
      color: #fff;
      padding-left: 26px;
      border-left: 4px solid #6a6ae4;
      background-color: #1f1f2a;
    }
  }
}
.content {
  color: #454545;
  margin-left: 225px;
}


/* 404 */
.status-404 {
  width: 400px;
  margin: 80px auto;
}