/* 登录页面 */
.page-login {
  background-color: #2d2d3b;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .login-header {
    font-size: 32px;
    font-weight: bold;
    width: 398px;
    height: 70px;
    line-height: 70px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    margin-top: 100px;
    background-color: @color-brand;
  }

  .login-panel {
    background-color: #fff;
    width: 318px;
    margin: 0 auto;
    padding: 20px 40px;

    .tip {
      margin-bottom: 10px;
      border-radius: 3px;
    }
    .tip-alert {
      background-color: #fdd3d3;
      border: 1px solid #ee4848;
      padding: 3px 5px;
    }
  }
}

/* 发布商品 */ 
.product-publish-category {
  .category-list-container {
    width: 624px;
    margin: 0 auto;
  }
  .category-list {
    border: 1px solid #eee;
    height: 330px;
    width: 300px;
    background-color: #fff;
    padding: 10px 0;
    margin-right: 20px;
    float: left;

    &:last-child {
      margin-right: 0;
    }
  }
  .category-item {
    border-left: 2px solid transparent;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    &:hover {
      background: #f4f4f4;
    }
    &.selected {
      border-left: 2px solid @color-brand;
      background: #f4f4f4;
    }
    .iconfont {
      font-size: 12px;
    }
  }
  .publish {
    padding: 20px 0;
    text-align: center;
  }
}
.product-publish {
  .attribute-container {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 10px;

    .attribute-item {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    .attribute-value-container {
      padding-top: 10px;
    }
    .attribute-value-item {
      float: left;
      padding: 5px 10px;
      border: 1px solid #eee;
      margin: 0 10px 10px 0;
      position: relative;

      .iconfont {
        color: #999;
        line-height: 1;
        font-size: 12px;
        margin-left: 10px;
        cursor: pointer;

        &:hover {
          color: @color-brand;
        }
      }
      .edit-wrapper {
        padding: 10px;
        border: 1px solid #eee;
        background-color: #fdfdfd;
        position: absolute;
        z-index: 10;
        left: -1px;
        top: 40px;
        width: 380px;
        display: none;

        .input {
          margin-top: 0;
          margin-bottom: 0;
          width: 200px;
        }
      }
    }
  }
  .sku-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  .img-placeholder {
    float: left;
    width: 210px;
    height: 90px;
    box-sizing: border-box;
    border: 2px dashed #ebebeb;
    color: #43b548;
    text-align: center;
    padding-top: 16px;
    -webkit-transition: all .1s;
    transition: all .1s;
    cursor: pointer;

    &:hover {
      background-color: #f6f8f9;
    }
  }
  .img-container {
    position: relative;
    height: 90px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;

    .img {
      height: 90px;
    }
    .mask {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      text-align: center;
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      cursor: pointer;
      display: none;
    }
    .remove {
      position: absolute;
      right: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.5);
      font-size: 14px;
      color: #fff;
      text-align: center;
      cursor: pointer;
      padding: 0 5px;
      display: none;
    }

    &:hover {
      .mask {
        display: block;
      }
      .remove {
        display: block;
      }
    }
  }
  .input-narrow {
    width: 100px;
  }
  .business-placeholder {
    display: inline-block;
    padding: 12px 20px;
    line-height: 1;
    font-size: 14px;
    border-radius: 4px;
    font-weight: normal;
    text-align: center;
    border: 1px solid #dcdfe6;
    color: #666;
    background-color: #fff;
    cursor: pointer;
    &:hover {
      background: #fff;
      border-color: @color-brand;
      color: @color-brand;
    }
  }
  .business-container {
    position: relative;
    display: inline-block;
    padding: 20px 40px;
    line-height: 1;
    font-size: 14px;
    border-radius: 4px;
    font-weight: normal;
    text-align: center;
    border: 1px solid #dcdfe6;
    color: #666;
    background-color: #fff;
    cursor: pointer;

    .mask {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      text-align: center;
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      cursor: pointer;
      display: none;
    }

    &:hover {
      .mask {
        display: block;
      }
    }
  }
  .tag-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 20px;

    li {
      float: left;
      border: 1px solid #f1f1f1;
      border-radius: 1px;
      margin-right: 10px;
      margin-bottom: 10px;
      position: relative;
      padding: 5px 15px;
      cursor: default;

      &:hover {
        border-color: @color-green;
      }
      &.selected {
        border-color: @color-green;
    
        .mask {
          display: block;
        }
      }
      .mask {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.2);
        display: none;
    
        .iconfont {
          position: absolute;
          right: 0;
          top: 0;
          color: #fff;
          background: @color-green;
          width: 14px;
          height: 14px;
          line-height: 14px;
          text-align: center;
          font-size: 12px;
        }
      }
    }
  }
}
.product-publish-successful {
  width: 300px;
  margin: 200px auto;
  text-align: center;

  .text-container {
    margin-bottom: 20px;
    .iconfont {
      font-size: 64px;
      color: @color-green;
    }
    .congratulation {
      font-size: 18px;
    }
  }
}

/* 商户选择器 */
.business-picker {
  .search {
    margin-bottom: 10px;
  }
  ul.business-container {
    border: 1px solid #eee;
    height: 315px;
    overflow: auto;
    padding: 10px;

    li {
      float: left;
      border: 1px solid #f1f1f1;
      border-radius: 1px;
      margin-right: 10px;
      margin-bottom: 10px;
      position: relative;
      
      &:hover {
        border-color: @color-green;
      }
      &.selected {
        border-color: @color-green;
    
        .mask {
          display: block;
        }
      }
      .name {
        font-size: 14px;
        padding: 10px 20px;
        width: 150px;
        overflow: hidden;
        text-overflow:ellipsis;
        color: @color-m;
        white-space: nowrap
      }
    }
  }
  .pager-container {
    margin-bottom: 0;
  }
  .mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;

    .iconfont {
      position: absolute;
      right: 0;
      top: 0;
      color: #fff;
      background: @color-green;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
    }
  }
}

/* 广告位创建 */
.ad-create {
  .img-placeholder {
    float: left;
    width: 210px;
    height: 90px;
    box-sizing: border-box;
    border: 2px dashed #ebebeb;
    color: #43b548;
    text-align: center;
    padding-top: 16px;
    -webkit-transition: all .1s;
    transition: all .1s;
    cursor: pointer;

    &:hover {
      background-color: #f6f8f9;
    }
  }
  .img-container {
    position: relative;
    height: 90px;
    float: left;
    margin-right: 10px;

    .img {
      height: 90px;
    }
    .mask {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      text-align: center;
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      cursor: pointer;
      display: none;
    }

    &:hover {
      .mask {
        display: block;
      }
    }
  }
  .content-picker-container {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 3px;
    margin-top: 10px;
    width: 400px;
  }
}

/* 商品页面选择器 */
.product-picker {
  .product-tab {
    li {
      float: left;
      padding: 10px 25px;
      background-color: #f7f7f7;
      cursor: pointer;
    }
    li.active {
      color: #fff;
      background-color: @color-brand;
    }
  }
  ul.product-container {
    border: 1px solid #eee;
    height: 350px;
    overflow: auto;
    padding: 10px;

    li {
      float: left;
      border: 1px solid #f1f1f1;
      border-radius: 1px;
      margin-right: 10px;
      margin-bottom: 10px;
      position: relative;
      width: 190px;
      
      &:hover {
        border-color: @color-green;
      }
      &.selected {
        border-color: @color-green;
    
        .mask {
          display: block;
        }
      }
      .img {
        width: 190px;
        height: 112px;
      }
      .title {
        font-size: 14px;
        padding: 10px;
        overflow: hidden;
        text-overflow:ellipsis;
        color: @color-m;
        white-space: nowrap
      }
    }
  }
  .pager-container {
    margin-bottom: 0;
  }
  .mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;

    .iconfont {
      position: absolute;
      right: 0;
      top: 0;
      color: #fff;
      background: @color-green;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
    }
  }
}


/* 订单商品信息 */
.order-list {
  .filter {
    background-color: #fff;
    padding: 20px 15px;
    margin-bottom: 20px;
  }
  .tabbar {
    // border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    li {
      float: left;
      padding: 10px 15px;
      background-color: #fcfcfc;
      margin-right: 10px;
      cursor: pointer;
    }
    li.active {
      color: #fff;
      background-color: @color-brand;
    }
  }
}
.order-product-info {
  display: flex;

  .img {
    width: 110px;
    margin-right: 15px;
  }
  .attr {
    .title {
      font-size: 14px;
    }
    .properties {
      font-size: 12px;
      color: @color-l;
    }
  }
}

/* 订单详情 */
.order-detail {
  .status-wrapper {
    background-color: rgb(253, 249, 242);
    border: 1px solid rgb(250, 175, 89);
    padding: 15px;
    margin-bottom: 30px;
    font-size: 14px;
  }
  .order-status {
    font-weight: bold;
  }
  .refund-status {
    margin-top: 15px;
    display: inline-block;
  }
  .order-info,
  .contact-info,
  .product-info {
    margin-bottom: 30px;

    .hd {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
}

/* 订单退款详情 */
.order-refund-detail {
  .refund-status {
    background-color: rgb(253, 249, 242);
    border: 1px solid rgb(250, 175, 89);
    padding: 15px;
    margin-bottom: 30px;
  }
  .product-info,
  .refund-info,
  .handle-info {
    margin-bottom: 30px;

    .hd {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
  .refund-info,
  .handle-info {
    .bd {
      background-color: #fff;
      padding: 15px;

      li {
        padding: 10px 0;
      }
      .label {
        color: @color-m;
      }
    }
  }
}

/* 退款拒绝 */
.order-refund-refuse {
  .textarea {
    width: 646px;
    height: 100px;
  }
}

/* 活动创建 */
.spu-create {
  position: relative;
  .draft-tip {
    position: absolute;
    z-index: 10;
    right: 30px;
    top: 30px;
    width: 200px;
    padding: 10px;
    border: 1px solid @color-yellow;
    background-color: rgba(255, 180, 0, 0.1);

    .bd {
      color: #666;
      margin-bottom: 10px;
    }
  }
  .img-placeholder {
    float: left;
    width: 210px;
    height: 90px;
    box-sizing: border-box;
    border: 2px dashed #ebebeb;
    color: #43b548;
    text-align: center;
    padding-top: 16px;
    -webkit-transition: all .1s;
    transition: all .1s;
    cursor: pointer;

    &:hover {
      background-color: #f6f8f9;
    }
  }
  .img-container {
    position: relative;
    height: 90px;
    float: left;
    margin-right: 10px;

    .img {
      height: 90px;
    }
    .mask {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      text-align: center;
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      cursor: pointer;
      display: none;
    }

    &:hover {
      .mask {
        display: block;
      }
    }
  }
  .input-narrow {
    width: 100px;
  }
  .spac-container {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;

    .spac-item {
      float: left;
      padding: 5px 10px;
      border: 1px solid #eee;
      margin: 0 10px 10px 0;
      position: relative;

      .close {
        display: none;
        line-height: 1;
        padding: 2px;
        position: absolute;
        right: -9px;
        top: -9px;
        font-size: 12px;
        border: 1px solid #ddd;
        background-color: #fff;
        border-radius: 100%;
        cursor: pointer;

        &:hover {
          color: @color-brand;
        }
      }

      &:hover {
        .close {
          display: block;
        }
      }
    }
  }
}

/* 角色创建 */
.role-create {
  .menu {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 3px;

    dt {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    dd {
      margin-left: 15px;
      margin-bottom: 5px;
    }
    input {
      margin-right: 5px;
    }
  }
}

/* 图片选择 */
.image-picker {
  .upload {
    text-align: right;
    margin-bottom: 10px;
  }
  ul.image-container {
    border: 1px solid #eee;
    height: 315px;
    overflow: auto;
    padding: 10px;

    li {
      float: left;
      border: 1px solid #f1f1f1;
      border-radius: 1px;
      margin-right: 10px;
      margin-bottom: 10px;
      position: relative;
      
      &:hover {
        border-color: @color-green;
      }
      &.selected {
        border-color: @color-green;
    
        .mask {
          display: block;
        }
      }
      
      .img-block {
        height: 112px;
        width: 112px;
        text-align: center;
        vertical-align: middle;
        display: table-cell;
      }
      .img {
        max-height: 110px;
        max-width: 110px;
        vertical-align: middle;
      }
      .name {
        border-top: 1px solid #f1f1f1;
        font-size: 12px;
        padding: 5px 10px;
        width: 92px;
        // height: 32px;
        overflow: hidden;
        text-overflow:ellipsis;
        color: @color-l;
        white-space: nowrap
      }
    }
  }
  .pager-container {
    margin-bottom: 0;
  }
  .mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;

    .iconfont {
      position: absolute;
      right: 0;
      top: 0;
      color: #fff;
      background: @color-green;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
    }
  }
}

/* 图片上传 */
.picture-upload {
  ul.preview-cnt {
    border: 1px solid #eee;
    margin-bottom: 20px;
    height: 200px;
    overflow: auto;
    padding: 10px;
  }
  li {
    float: left;
    border: 1px solid #f1f1f1;
    border-radius: 1px;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
  }
  li:hover {
    border-color: @color-brand;
  }
  li .pic-cnt {
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
  }
  li img {
    max-height: 100px;
    max-width: 100px;
    vertical-align: middle;
  }
  li .meta {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: #fff;
    padding: 5px 0;
    text-indent: 1em;
  }
  li .progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 28px;
    width: 100%;
  }
  li .progress div {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 28px;
    background-color: rgba(0, 255, 0, 0.5);
  }
}
.pic-upload-input {
  background-color: #f1f1f1;
  padding: 10px;
}
.pic-list {
  .pic-cnt {
    background-color: #fff;
    border: 1px solid #f1f1f1;
    height: 100px;
    width: 100px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
  }
  .pic-cnt img {
    max-height: 100px;
    max-width: 100px;
    vertical-align: middle;
  }
  .textarea {
    height: 60px;
    width: 300px;
  }
}

/* 用户管理 */
.member-list {
  .pic-cnt {
    background-color: #fff;
    border: 1px solid #f1f1f1;
    height: 70px;
    width: 70px;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
  }
  .pic-cnt img {
    max-height: 70px;
    max-width: 70px;
    vertical-align: middle;
  }
}

/* 代码管理 */
.assets-detail {
  .info-container {
    background-color: #000;
    border-radius: 3px;
    padding: 20px;
  }
}