/* 活动创建 */
.activity-create {
  .img-placeholder {
    float: left;
    width: 210px;
    height: 90px;
    box-sizing: border-box;
    border: 2px dashed #ebebeb;
    color: #43b548;
    text-align: center;
    padding-top: 16px;
    -webkit-transition: all .1s;
    transition: all .1s;
    cursor: pointer;

    &:hover {
      background-color: #f6f8f9;
    }
  }
  .img-container {
    position: relative;
    height: 90px;
    float: left;
    margin-right: 10px;

    .img {
      height: 90px;
    }
    .mask {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      text-align: center;
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      cursor: pointer;
      display: none;
    }

    &:hover {
      .mask {
        display: block;
      }
    }
  }
}

/* 图片选择 */
.image-picker {
  ul.image-container {
    border: 1px solid #eee;
    height: 300px;
    overflow: auto;
    padding: 10px;
  }
  li {
    float: left;
    border: 1px solid #f1f1f1;
    border-radius: 1px;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    
    &:hover {
      border-color: @color-green;
    }
    &.selected {
      border-color: @color-green;
  
      .mask {
        display: block;
      }
    }
    &.img-add {
      height: 100px;
      width: 100px;
      text-align: center;
      color: #43b548;
      cursor: pointer;
      box-sizing: border-box;
      padding-top: 20px;
      border: 1px dashed #f1f1f1;
    }
    &.img-add:hover {
      background-color: #f6f8f9;
    }
    
    .img-block {
      height: 100px;
      width: 100px;
      text-align: center;
      vertical-align: middle;
      display: table-cell;
    }
    img {
      max-height: 100px;
      max-width: 100px;
      vertical-align: middle;
    }
  }  
  
  .mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;

    .iconfont {
      position: absolute;
      right: 0;
      top: 0;
      color: #fff;
      background: @color-green;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
    }
  }
}

/* 图片上传 */
.picture-upload {
  ul.preview-cnt {
    border: 1px solid #eee;
    margin-bottom: 20px;
    height: 200px;
    overflow: auto;
    padding: 10px;
  }
  li {
    float: left;
    border: 1px solid #f1f1f1;
    border-radius: 1px;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
  }
  li:hover {
    border-color: @color-brand;
  }
  li .pic-cnt {
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
  }
  li img {
    max-height: 100px;
    max-width: 100px;
    vertical-align: middle;
  }
  li .meta {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: #fff;
    padding: 5px 0;
    text-indent: 1em;
  }
  li .progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 28px;
    width: 100%;
  }
  li .progress div {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 28px;
    background-color: rgba(0, 255, 0, 0.5);
  }
}
.pic-upload-input {
  background-color: #f1f1f1;
  padding: 10px;
}
.pic-list {
  .pic-cnt {
    background-color: #fff;
    border: 1px solid #f1f1f1;
    height: 100px;
    width: 100px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
  }
  .pic-cnt img {
    max-height: 100px;
    max-width: 100px;
    vertical-align: middle;
  }
  .textarea {
    height: 60px;
    width: 300px;
  }
}


