<div class="page-header clearfix">
    <div class="title-bar">
      <h2 class="title">发布商品</h2>
    </div>
  </div>
  <div class="page-body product-publish">
    <form id="spu-create-form">
      <input type="hidden" name="category"" value="4">
      <ul class="union-form">
        <li class="field">
          <p class="field-label2">标题</p>
          <input type="text" class="input" name="title" value="{{title}}">
        </li>
        <li class="field">
          <p class="field-label2">商品规格</p>
          <div class="attribute-container">
            {{#for(item in attributeList)}}
            <div class="attribute-item">
              <p class="field-label2">{{item.name}}</p>
              <div>
                <input placeholder="请输入自定义{{item.name}}名称" class="input mr10" id="J_attr_value_{{item.attributeId}}">

                <button class="btn btn-brand btn-large" mx-click="addAttributeValue({attributeId:{{item.attributeId}}})">+添加</button>

                <div class="attribute-value-container clearfix" t-if="item.attributeValues.length>0">
                  {{#for(subitem in item.attributeValues)}}
                  <div class="attribute-value-item">{{subitem.value}}<span class="iconfont iconguanbi close" mx-click="delAttributeValue({attributeId:{{item.attributeId}},index:{{subitem.index}}})"></span></div>
                  {{/for}}
                </div>
              </div>
            </div>
            {{/for}}
          </div>
          <div class="sku-container table-container" t-if="skuList.length>0">
            <table class="table">
              <thead>
                <tr>
                  {{#for(item in attributeList)}}
                  <th class="left" width="150">{{item.name}}</th>
                  {{/for}}
                  <th class="left" width="150">价格</th>
                  <th class="left" width="150">数量</th>
                </tr>
              </thead>
              <tbody>
                {{#for(item in skuList)}}
                <tr>
                  {{#for(subitem in item)}}
                  <td class="left">{{subitem.value}}</td>
                  {{/for}}
                  <td class="left">
                    <input placeholder="价格" type="number" class="input input-narrow" value="{{item.price}}" mx-change="bindSkuSpecChange({index:{{__INDEX__}},field:'price'})">
                  </td>
                  <td class="left">
                    <input placeholder="库存" type="number" class="input input-narrow" value="{{item.stock}}" mx-change="bindSkuSpecChange({index:{{__INDEX__}},field:'stock'})">
                  </td>
                </tr>
                {{/for}}
              </tbody>
            </table>
          </div>
        </li>
        <li class="field">
          <p class="field-label2">封面图</p>
          <div class="cover clearfix">
            {{^if(cover)}}
            <div class="img-placeholder" mx-click="pickCover()">
              <span class="iconfont iconhao"></span>
              <div>添加封面</div>
            </div>
            {{/if}}
            {{#if(cover)}}
            <div class="img-container">
              <div class="mask" mx-click="pickCover()">重新选择图片</div>
              <img src="{{cover}}" class="img">
              <input type="hidden" name="cover" value="{{cover}}">
            </div>
            {{/if}}
          </div>
        </li>
        <li class="field">
          <p class="field-label2">轮播图</p>
          <div class="slide clearfix">
            {{#if(slide.length > 0)}}
              {{#for(item in slide)}}
              <div class="img-container">
                <div class="mask" mx-click="pickSlide({index:{{__INDEX__}}})">重新选择图片</div>
                <img src="{{item}}" class="img">
                <input type="hidden" name="slide[{{__INDEX__}}]" value="{{item}}">
              </div>
              {{/for}}
            {{/if}}
            {{^if(slide.length >= 2)}}
            <div class="img-placeholder" mx-click="pickSlide()">
              <span class="iconfont iconhao"></span>
              <div>添加轮播图</div>
            </div>
            {{/if}}
          </div>
        </li>
        <li class="field">
          <p class="field-label2">产品说明</p>
          <div id="description-editor"></div>
        </li>
        <li class="field">
          <p class="field-label2">使用规则</p>
          <div id="usage-editor"></div>
        </li>
        <li class="field">
          <a href="#" class="btn btn-brand btn-large mr10" mx-click="submit()">发布</a>
        </li>
      </ul>
    </form>
  </div>