<div class="page-header clearfix">
  <div class="title-bar">
    <h2 class="title" t-if="id">编辑活动</h2>
    <h2 class="title" t-if="!id">新增活动</h2>
  </div>
</div>
<div class="page-body activity-create">
  <div class="draft-tip" t-if="hasDraft">
    <p class="bd">系统检测到你有一份编辑中的草稿，是否需要覆盖当前内容？</p>
    <div>
      <a href="#" class="btn btn-green btn-large mr10" mx-click="loaddraft()">覆盖</a>
      <a href="#" class="btn btn-normal btn-large" mx-click="canceldraft()">不用</a>
    </div>
  </div>
  <form id="activity-create-form">
    <input type="hidden" name="type" value="1">
    <ul class="union-form">
      <li class="field">
        <p class="field-label2">标题</p>
        <input type="text" class="input" name="title" value="{{title}}">
      </li>
      <li class="field">
        <p class="field-label2">价格</p>
        <input type="number" class="input" name="price" value="{{price}}">
      </li>
      <li class="field">
        <p class="field-label2">地理位置</p>
        <input type="text" class="input" name="location" value="{{location}}">
      </li>
      <li class="field">
        <p class="field-label2">地理位置经纬度</p>
        <input type="text" class="input" name="longitudeAndlatitude" value="{{longitudeAndlatitude}}">
      </li>
      <li class="field">
        <p class="field-label2">地理位置截图</p>
        <div class="location-cover clearfix">
          {{^if(locationCover)}}
          <div class="img-placeholder" mx-click="pickLocationCover()">
            <span class="iconfont iconhao"></span>
            <div>添加地理位置截图</div>
          </div>
          {{/if}}
          {{#if(locationCover)}}
          <div class="img-container">
            <div class="mask" mx-click="pickLocationCover()">重新选择图片</div>
            <img src="{{locationCover}}" class="img">
            <input type="hidden" name="locationCover" value="{{locationCover}}">
          </div>
          {{/if}}
        </div>
      </li>
      <li class="field">
        <p class="field-label2">封面图</p>
        <div class="cover clearfix">
          {{^if(cover)}}
          <div class="img-placeholder" mx-click="pickCover()">
            <span class="iconfont iconhao"></span>
            <div>添加封面</div>
          </div>
          {{/if}}
          {{#if(cover)}}
          <div class="img-container">
            <div class="mask" mx-click="pickCover()">重新选择图片</div>
            <img src="{{cover}}" class="img">
            <input type="hidden" name="cover" value="{{cover}}">
          </div>
          {{/if}}
        </div>
      </li>
      <li class="field">
        <p class="field-label2">轮播图</p>
        <div class="slide clearfix">
          {{#if(slide.length > 0)}}
            {{#for(item in slide)}}
            <div class="img-container">
              <div class="mask" mx-click="pickSlide({index:{{__INDEX__}}})">重新选择图片</div>
              <img src="{{item}}" class="img">
              <input type="hidden" name="slide[{{__INDEX__}}]" value="{{item}}">
            </div>
            {{/for}}
          {{/if}}
          {{^if(slide.length >= 2)}}
          <div class="img-placeholder" mx-click="pickSlide()">
            <span class="iconfont iconhao"></span>
            <div>添加轮播图</div>
          </div>
          {{/if}}
        </div>
      </li>
      <li class="field">
        <p class="field-label2">费用说明</p>
        <div id="cost-description-editor"></div>
      </li>
      <li class="field">
        <p class="field-label2">费用包含</p>
        <div id="cost-include-editor"></div>
      </li>
      <li class="field">
        <p class="field-label2">使用方法</p>
        <div id="usage-editor"></div>
      </li>
      <li class="field">
        <p class="field-label2">注意事项</p>
        <div id="notice-editor"></div>
      </li>
      <li class="field">
        <p class="field-label2">产品说明</p>
        <div id="description-editor"></div>
      </li>
      <li class="field">
        <a href="#" class="btn btn-brand btn-large mr10" mx-click="submit()">发布</a>
        <a href="#" class="btn btn-brand btn-large" mx-click="draft()">保存成草稿</a>
      </li>
    </ul>
  </form>
</div>