<div class="page-header clearfix">
  <div class="title-bar">
    <h2 class="title">活动列表</h2>
  </div>
</div>
<div class="page-body table-container">
  <div class="toolbar clearfix">
    <a href="/activity/recyclebin" class="btn btn-white btn-large fr">回收站</a>
    <a href="/activity/create" class="btn btn-brand btn-large">新增活动</a>
  </div>
  <table class="table">
    <thead>
      <tr t-class:no-data="list.length == 0">
        <th class="left">文章名称</th>
        <th class="left" width="150">发布时间</th>
        <th class="left" width="120">发布状态</th>
        <th class="center" width="100">操作</th>
      </tr>
    </thead>
    <tbody>
      {{#for(item in list)}}
      <tr>
        <td class="left">{{item.title}}</td>
        <td class="center">
          <a href="/activity/edit?id={{item.id}}" class="color-blue">编辑</a>
          <a href="#" mx-click="del{id:{{id}}}" class="color-blue">删除</a>
        </td>
      </tr>
      {{/for}}
      {{#if(list.length == 0)}}
      <tr class="none">
        <td colspan="2">
          暂无数据
        </td>
      </tr>
      {{/if}}
    </tbody>
  </table>
  <div class="tfoot">
  </div>
</div>