<div class="page-header clearfix">
  <div class="title-bar">
    <h2 class="title">订单列表</h2>
  </div>
</div>
<div class="page-body order-list">
  <div class="filter">
    <form class="union-form">
      <div class="col">
        <div class="field">
          <span class="label">商品名称：</span>
          <input type="text" class="input">
        </div>
        <div class="field">
          <span class="label">买家昵称：</span>
          <input type="text" class="input">
        </div>
        <div class="field">
          <span class="label">订单编号：</span>
          <input type="text" class="input">
        </div>
        <div class="field">
          <button class="btn btn-brand"">搜索订单</button>
        </div>
      </div>
      <div class="col"></div>
    </form>
  </div>
  <div class="table-container">
    <table class="table">
      <thead>
        <tr t-class:no-data="list.length == 0">
          <th class="left">商品信息</th>
          <th class="left" width="80">单价</th>
          <th class="left" width="80">数量</th>
          <th class="left" width="80">实收款</th>
          <th class="left" width="100">买家昵称</th>
          <th class="left" width="80">售后</th>
          <th class="left" width="80">交易状态</th>
          <th class="center" width="100">操作</th>
        </tr>
      </thead>
      <tbody>
        {{#for(item in list)}}
        <tr class="purple">
          <td class="left" colspan="8">
            <span class="mr20">订单编号：{{item.orderSn}}</span>
            <span>创建时间：{{item.createdAt|formatDate}}</span>
          </td>
        </tr>
        <tr>
          <td class="left">
            <div class="order-product-info">
              <img class="img" src="{{item.productInfo.productCover}}">
              <div class="attr">
                <div class="title">{{item.productInfo.productTitle}}</div>
                <div class="properties">{{item.productInfo.productPropertiesName}}</div>
              </div>
            </div> 
          </td>
          <td class="left">￥{{item.productInfo.productPrice}}</td>
          <td class="left">{{item.productQuantity}}</td>
          <td class="left"><strong>￥{{item.paymentAmount}}</strong></td>
          <td class="left">{{item.memberNickname}}</td>
          <td class="left">
            {{#if(item.refundInfo)}}
            <a href="/order/refund_detail?id={{item.refundInfo.id}}" class="color-blue mr10">{{{item.refundInfo.status|formatRefundStatus}}}</a>
            {{/if}}
          </td>
          <td class="left">{{{item.orderStatus|formatStatus}}}</td>
          <td class="center">
            <p><a href="/order/detail?orderSn={{item.orderSn}}" class="color-blue mr10">查看订单</a></p>
            <p t-if="item.orderStatus==3 && !item.refundInfo"><a href="#" class="color-blue mr10" mx-click="verification({orderSn:{{item.orderSn}}})">核销订单</a></p>
          </td>
        </tr>
        {{/for}}
        {{#if(list.length == 0)}}
        <tr class="none">
          <td class="center" colspan="8">
            暂无数据
          </td>
        </tr>
        {{/if}}
      </tbody>
    </table>
    <div class="tfoot">
      <div class="pager-container" mx-view="app/coms/pagination/pagination?total={{totalCount}}&size={{pageSize}}&page={{pageNo}}" mx-change="pageChange()"></div>
    </div>
  </div>
</div>