<div class="page-header clearfix">
    <div class="title-bar">
      <h2 class="title">详情字段列表</h2>
    </div>
  </div>
  <div class="page-body table-container">
    <div class="toolbar clearfix">
      <a href="/detailfield/create?categoryId={{categoryId}}" class="btn btn-brand btn-large">新增详情字段</a>
    </div>
    <table class="table">
      <thead>
        <tr t-class:no-data="list.length == 0">
          <th class="left" width="100">字段编号</th>
          <th class="left">字段名</th>
          <th class="left" width="100">字段标注</th>
          <th class="left" width="100">类目编号</th>
          <th class="left" width="100">字段类型</th>
          <th class="left" width="100">排序</th>
          <th class="center" width="150">操作</th>
        </tr>
      </thead>
      <tbody>
        {{#for(item in list)}}
        <tr>
          <td class="left">{{item.id}}</td>
          <td class="left">{{item.fieldName}}</td>
          <td class="left">{{item.fieldLabel}}</td>
          <td class="left">{{item.categoryId}}</td>
          <td class="left">{{item.fieldType|formatFieldType}}</td>
          <td class="left">{{item.sort}}</td>
          <td class="center">
            <a href="/detailfield/create?id={{item.id}}" class="color-blue mr10">编辑</a>
            <a href="#" mx-click="remove({id:{{item.id}}})" class="color-blue">删除</a>
          </td>
        </tr>
        {{/for}}
        {{#if(list.length == 0)}}
        <tr class="none">
          <td class="center" colspan="7">
            暂无数据
          </td>
        </tr>
        {{/if}}
      </tbody>
    </table>
  </div>